.grid{
    width: 80%;
    margin: 32px auto;
    display: grid;
    grid-template-columns: 19% 78%;
    gap: 60px;
    height: 600px;
    font-family: "Montserrat";
}
.first_col{
    height: 600px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 30px 0px 30px;
    box-sizing: border-box;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.second_col{
    height: 600px;
    border-radius: 40px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
}
.big_img img{
    object-fit: cover;
    border-radius: 40px;
    width: 100%;
    height: 600px;
}
.big_img::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: rgba(40, 40, 40, 0.5);
}
.mini_title{
    display: flex;
    gap:10px;
    padding-top: 10px;
    align-items: center;
    height: 20px;
}
.mini_title h3{
    font-size: 16px;
    color: white;
}
.mini_title span{
    font-size: 14px;
    color: white;
}
.mini_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    gap: 30px;
    padding-top: 10px ;

}
.mini_flex h3{
    font-size: 15px;
}
.mini_title .sortH3{
    color: black;
}
.card{
    display: flex;
    justify-content: center;
    position: absolute;
    
}
.reccomended{
    position: absolute; 
    display: flex;
    top: 30px;
    left: 40px;
    gap: 10px;
    align-items: center;
}

.reccomended h2{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}
.big_name h2{
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 600;
    line-height: 48px;
    line-height: 55px;
    letter-spacing: 0em;
    color: white;
}
.big_name{
    position: absolute;
    top:40%;
    left: 40px;

}
.column{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.overview{
    position: absolute;
    top:50%;
    width: 45%;
    left: 40px;
}
.overview h2{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: white;
}

/* Grid container */
.grid{
    width: 80%;
    margin: 32px auto;
    display: grid;
    grid-template-columns: 19% 78%;
    gap: 60px;
    height: 600px;
    font-family: "Montserrat";
}

/* First column */
.first_col{
    height: 600px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 30px 0px 30px;
    box-sizing: border-box;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

/* Second column */
.second_col{
    height: 600px;
    border-radius: 40px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
}

/* Big image */
.big_img img{
    object-fit: cover;
    border-radius: 40px;
    width: 100%;
    height: 600px;
}

/* Overlay for big image */
.big_img::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: rgba(40, 40, 40, 0.5);
}

/* Mini title */
.mini_title{
    display: flex;
    gap:10px;
    padding-top: 10px;
    align-items: center;
    height: 20px;
}

/* Mini title text */
.mini_title h3{
    font-size: 16px;
    color: white;
}

/* Mini title text */
.mini_title span{
    font-size: 14px;
    color: white;
}

/* Mini flex */
.mini_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    gap: 30px;
    padding-top: 10px ;

}

/* Mini flex text */
.mini_flex h3{
    font-size: 15px;
}

/* Mini title text */
.mini_title .sortH3{
    color: black;
}

/* Card */
.card{
    display: flex;
    justify-content: center;
    position: absolute;
   
}

/* Recommended */
.reccomended{
    position: absolute; 
    display: flex;
    top: 30px;
    left: 40px;
    gap: 10px;
    align-items: center;
}

/* Recommended text */
.reccomended h2{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

/* Big name */
.big_name h2{
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 600;
    line-height: 48px;
    line-height: 55px;
    letter-spacing: 0em;
    color: white;
}

/* Big name container */
.big_name{
    position: absolute;
    top:40%;
    left: 40px;

}

/* Column */
.column{
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* Overview */
.overview{
    position: absolute;
    top:50%;
    width: 45%;
    left: 40px;
}

/* Overview text */
.overview h2{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: white;
}